<p style="color: green"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4"><%= @order.order_date %></h1>
  <p class="lead"><%= @order.customer_id%>.</p>
  <hr class="my-4">
  <div>
    <%= link_to "Edit this order", edit_order_path(@order) , class:"btn btn-secondary"%>
    <%= link_to "Back to orders", orders_path, class:"btn btn-dark" %>
  </div>
</div>
<div>
</div>
